@font-face {
    font-family: 'Philosopher';
    src: url(Philosopher-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url(Philosopher-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url(Philosopher-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url(Philosopher-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
